# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
env/
venv/

# Node / React
node_modules/
build/
dist/

# Environment
*.env
.env.*
!.env.example

# Docker
*.pid
*.log

# IDE
.vscode/
.idea/
